body { background-color: #F2F6D0
    }
    
.jumbotron {
  background-image: url("../img/newspaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 600px;
  min-height: 400px;
}

.articleModule {
  margin-top: 10px;
  padding: 10px;
  text-align: left;
  background: #f3dfdf;
}

.navbar{
  min-height: 80px;
}




